* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(45, 45, 45);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headSiteChoice {
    display: flex;
    gap: 30px;
}

.headSite a {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.headSite a:hover {
    color: gray;

}

.headSite h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.mainInfo {
    width: 1000px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cardInfomationSerach {
    width: 100%;
    height: 28%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.cardInfomationSerach:first-child {
    height: 9%;
}

.cardInfomationSerach p {
    text-align: justify;
    line-height: 1.4;
}

#btnLS,
#btnInput {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    background-color: aliceblue;
    border: 1px solid black;
    transition: 0.1s linear;

}

#btnLS:hover {
    background-color: rgb(214, 224, 232);
    transform: scale(1.05);
}

#btnInput:hover {
    background-color: rgb(214, 224, 232);
    transform: scale(1.05);
}

.mainT {
    text-align: center;
    margin-bottom: 10px;
}

.otherT {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}

.otherT h4 {
    margin-top: 8px;
}

#sucessSpan {
    font-size: 18px;
    display: block;
    margin-top: 10px;
    text-align: center;
    color: green;
}

#numbers {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    color: green;
}

footer {
    background-color: rgb(45, 45, 45);
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#inputContainer {
    display: none;
    margin-top: 10px;
    text-align: center;
}

#inputContainer label {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

#inputContainer input {
    width: 150px;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

#inputContainer button {
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#inputSearchValue {
    display: none;
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

#inputSearchValue label {
    font-weight: bold;
    font-size: 16px;
}

#inputSearchValue input {
    width: 100px;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

#inputSearchValue button {
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

