@import url(./main.css);

#numbersSorted {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    color: green;
}

.output {
    display: flex;
    flex-direction: column;
    text-align: center;
}
