* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(45, 45, 45);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headSiteChoice {
    display: flex;
    gap: 30px;
}

.headSite a {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.headSite a:hover {
    color: gray;

}

.headSite h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.mainInfo {
    width: 1000px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cardInfomationSerach {
    width: 100%;
    height: 20%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

#btnLS {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    background-color: aliceblue;
    border: 1px solid black;
    transition: 0.1s linear;

}



#btnLS:hover {
    background-color: rgb(214, 224, 232);
    transform: scale(1.05);
}

.mainT {
    text-align: center;
    margin-bottom: 10px;
}

.otherT {
    text-align: left;
}

footer {
    background-color: rgb(45, 45, 45);
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}